<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="JUnitTests" fileName="tests.log">
            <MarkerFilter marker="test" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %M %m %ex%n</Pattern>
            </PatternLayout>
        </File>
        <File name="MainLog" fileName="main.log">
            <MarkerFilter marker="main_log" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %M %m %ex%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="fileErrors" level="ERROR"/>
            <AppenderRef ref="JUnitTests" level="INFO"/>
            <AppenderRef ref="MainLog" level="ALL"/>
        </Root>
    </Loggers>
</Configuration>